<div class="container">
    <h1>Creating post</h1>
    <app-post-form
        (onAdd)="updatePosts($event)"
    ></app-post-form>
    <hr>
    <app-post
        *ngFor="let p of posts"
        [post]="p"
        (onRemove)="removePost($event)"
    >
        <small *ngIf="p.text.length > 10; else short">Long post</small>
        <ng-template #short>
            <small>Small post</small>
        </ng-template>
    </app-post>

    <p appStyleDirective
        [dStyles] = "{color: 'green', border: '1px solid red', borderRadius: '5px'}"
    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, quibusdam!</p>

    <p appStyleDirective
        [dStyles] = "{color: 'red', border: '1px solid green', borderRadius: '5px'}"
    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, quibusdam!</p>

    <button class="btn" (click)="isVisible = !isVisible">Toggle</button>

    <div *appIfNot="!isVisible">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut iusto labore odio sed soluta.</p>
    </div>


    <app-pipes></app-pipes>
</div>
